.container-roll {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.countries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 1rem;
}